/* body{
  background-color: black
}

.wrap{
    text-align: center;
}

@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.Boog {
  animation: fadein 6s ease;
}

.TNT {
  animation: fadein 6s ease;
}

.main{
  animation: fadein 6s ease;
} */

.parallax {
  background: url("./images/longlifetree.jpeg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.mainPic{
  background: url("./images/longlifetree.jpeg") no-repeat;
  background-size: cover;
  height: 700px
}